/* main sections, general widths backgrounds fonts */

h3,h4,h5,p {
	padding: 0;
	margin: 0;
}

a[href=""] {
	display: none;
}

page[currentcategory="paneAbout"] .main-content {
	-moz-padding-start: 24px;
	-moz-padding-end: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

page[currentcategory="paneAbout"] #mainPrefPane {
	max-width: 910px;
}

page[currentcategory="paneAbout"] #header-about {
	margin-top: 30px;
	-moz-margin-start: 24px;
	-moz-margin-end: 24px;
}

/* nodes that aren't visible but should still occupy their space in the layout */
[invisible="true"] { visibility: hidden; }

/* top area, general information */

#general {
	margin: 0 26px 30px;
}

#general checkbox {
	margin-bottom: 15px;
}

#version label {
	-moz-margin-start: 3px;
	-moz-margin-end: 0;
	color: #484848;
	font-weight: normal;
	font-size: 1.5rem;
}

#logo {
	max-height: 68px;
	-moz-margin-end: 10px;
}

p {
	line-height: 1.4em;
	margin-bottom: 1em;
}

p.signature {
	text-align: right;
	font-style: italic;
	font-size: 1.05em;
	margin-top: -0.25em;
}

@media only screen and (min-width:1150px) {
	.main-column {
		width: 540px;
		float: left;
	}
}

#bottomwrapper {
	padding-bottom: 40px;
}

.row {
	margin: 0 auto;
	position: relative;
}

/* development hours section */

#bank {
	width: 70%;
	margin: 0 auto 35px;
	display: flex;
	flex-direction: column;
	background: white;
	box-shadow: 0 1px 0 #ddd;
	text-align: center;
}

#bank:hover {
	box-shadow: 0 0 0 1px #0095dd;
}

@media only screen and (min-width:1150px) {
	#bank {
		float: left;
		width: 220px;
		margin: 0 10px 0 70px;
	}
}

#bank .topbank {
	padding: 0 10px;
	display: flex;
}

#bank .topbank > * {
	width: 50%;
	flex: 1 1 auto;
}

#bank .header {
	margin: 10px 1em 0 1em;
	padding-bottom: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #484848;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

#bank.positive .sad,
#bank.negative .happy {
	display: none;
}

#bank .sad,
#bank .happy {
	max-width: 24px;
}
#bank .happy {
	margin-top: 8px;
}
#bank .sad {
	margin-top: 5px;
	margin-bottom: 9px;
}

#bank.positive .hourglasswrapper {
	margin-bottom: 12px;
}

#bank.negative .hourglasswrapper {
	margin-top: 10px;
}

#bank .hourglasswrapper {
	display: flex;
}

#bank .hourglass {
	position: relative;
	margin: auto;
	max-height: 70px;
}

#bank .hourglass image {
	position: relative;
	max-height: 70px;
	z-index: 2;
}

#bank .visualbanked {
	position: absolute;
	width: 100%;
	height: calc(50% - 3px);
	top: 3px;
	background-color: rgba(60,120,200,0.1);
}

#bank .visualowed {
	position: absolute;
	width: 100%;
	height: calc(50% - 3px);
	bottom: 3px;
	background-color: rgba(60,120,200,0.1);
}

#bank.positive .balance {
	color: rgb(11,216,11);
}
#bank.negative .balance {
	color: rgb(227,12,12);
}

#bank .balance {
	font-size: 3em;
	font-weight: bold;
}

#bank.banked .label.owed,
#bank.owed .label.banked {
	display: none;
}

#bank .label.owed,
#bank .label.banked {
	margin: auto;
	max-width: 6em;
	font-size: 0.9em;
	font-weight: bold;
}

#bank:not(.working) .coding {
	display: none;
}

#bank .coding {
	margin-top: 0;
	margin-bottom: 5px;
	font-family: Monaco, Consolas, Lucida Console, monospace;
	font-size: 0.8em;
	font-weight: bold;
	color: rgb(212,102,14);
	text-shadow: 1px 1px 1px rgba(66,78,90,0.1);
}

#bank .blink {
	text-shadow: 1px 1px 1px rgba(66,78,90,0.2);
	animation: blink 1s linear infinite;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

#bank a {
	padding: 0.5em;
	outline: 0;
	text-decoration: none;
	font-size: 0.9em;
	font-weight: bold;
	transition: background 150ms, color 200ms;
	color: rgba(205,41,0,0.7);
	background: rgba(255,91,11,0.2);
}

#bank a:hover,
#bank a:focus {
	color: rgba(205,41,0,1);
	background: rgba(255,91,11,0.5);
}

/* release notes section */

#releases {
	margin: 0 26px 40px;
}

.notes {
	box-shadow: 0 0 0 1px #fff inset;
	background: #fff;
	border-bottom: 1px solid #ddd;
	margin: 0 -20px 20px;
	padding: 20px 20px;
}

h3 {
	font-weight: normal;
	line-height: 150%;
	font-size: 1.8em;
	letter-spacing: -0.5px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
}

h4 {
	font-weight: normal;
	line-height: 100%;
	font-size: 1.1em;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
}

.notes-items {
	list-style: outside none none;
	-moz-padding-start: 0;
}

.notes-items > li {
	border-top: 1px solid #D6D6D6;
	margin: 0px;
	padding: 0.714rem 0px 0.5rem;
	position: relative;
}

.notes-items > li.tagged {
	padding-left: 160px;
}

.notes-items > li.tagged > b {
	background-color: #F3F3F3;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 0px 0px;
	border-right: 3px solid #CCC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05), 0px -1px 0px rgba(0, 0, 0, 0.05) inset;
	display: inline-block;
	font-size: 11px;
	font-style: normal;
	line-height: 14px;
	padding: 4px 2px 4px 33px;
	position: absolute;
	top: 0.714rem;
	left: 0px;
	text-shadow: 1px 1px 0px #FFF;
	text-transform: uppercase;
	width: 102px;
}

.notes-items > li.tagged > b.new {
	background-color: #ffedcf;
	background-position: 0 -50px;
	border-color: #f90;
}

.notes-items > li.tagged > b.changed {
	background-color: #e9cfff;
	background-position: 0 -100px;
	border-color: #8106e0;
}

.notes-items > li.tagged > b.bugfix {
	background-color: #f0ffe1;
	background-position: 0 -150px;
	border-color: #5ba622;
}

.notes-items > li.tagged > b.removed {
	background-color: #f8dfd8;
	background-position: 0 -200px;
	border-color: #d85027;
}

.notes-items > li.tagged > b.updated {
	background-color: #dcf6ff;
	background-position: 0 -250px;
	border-color: #038fc0;
}

.notes-items > li.tagged > b.unresolved {
	background-color: #ffc8c8;
	background-position: 0 -300px;
	border-color: #c00;
}

.notes-items > li > p {
	margin: 0px 0px 0.25em;
}

#divAllVersions {
	text-align: center;
}

/* side sections */

#sidebar {
	padding-bottom: 20px;
}

#sidebar > * {
	border-bottom: 1px dotted #bdbdbd;
	margin-bottom: 20px;
}

h5 {
	line-height: 100%;
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
	letter-spacing: -0.5px;
	font-size: 1.45em;
	margin: 0 0 12px;
}

#sidebar ul {
	padding: 0;
}

#sidebar li {
	margin: 0 0 0.5em 20px;
}

#a2a_div {
	width: 220px;
	height: 50px;
	overflow: visible;
	position: relative;
}

@media only screen and (min-width:1150px) {
	#sidebar {
		float: left;
		width: 220px;
		margin: 0 10px 0 70px;
		padding-bottom: 0;
	}
}

/* since I can't use an iframe for this, I need to style the buttons as they would look if they were loaded by a2a's script */

#a2a_div > a {
	padding: 0 2px;
	float: left;
}

#a2a_div > a > span {
	height: 32px;
	width: 32px;
	line-height: 32px;
	border-radius: 4px;
	display: block;
	float: left;
}

#a2a_div > a:-moz-any(:hover,:focus,:active) {
	outline: 0;
}

#a2a_div > a:-moz-any(:hover,:focus,:active) > span {
	opacity: 0.7;
}

/* I took the following icons from https://static.addtoany.com/menu/svg/icons.6.svg.css, with the permission to do so from its author. */

.a2a_s_a2a {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%3E%3Crect%20fill%3D%22%230166FF%22%20width%3D%2232%22%20height%3D%2232%22%2F%3E%3Cg%20fill%3D%22%23fff%22%3E%3Crect%20x%3D%2214%22%20y%3D%227%22%20width%3D%224%22%20height%3D%2218%22%2F%3E%3Crect%20x%3D%227%22%20y%3D%2214%22%20width%3D%2218%22%20height%3D%224%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.a2a_s_facebook {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%3E%3Crect%20fill%3D%22%233B5998%22%20width%3D%2232%22%20height%3D%2232%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M22.079%2032v-12.393h4.16l.622-4.83h-4.782v-3.083c0-1.398.389-2.352%202.394-2.352l2.559-.001v-4.318c-.442-.059-1.961-.19-3.727-.19-3.688%200-6.213%202.25-6.213%206.384v3.562h-4.17v4.831h4.17v12.39h4.987z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.a2a_s_twitter {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%3E%3Crect%20fill%3D%22%2355ACEE%22%20width%3D%2232%22%20height%3D%2232%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M28%208.557c-.884.391-1.833.656-2.828.774%201.017-.608%201.798-1.573%202.166-2.725-.953.566-2.006.976-3.129%201.194-.897-.957-2.177-1.555-3.594-1.555-2.719%200-4.924%202.206-4.924%204.925%200%20.386.043.762.128%201.124-4.093-.208-7.723-2.168-10.15-5.146-.422.726-.666%201.573-.666%202.476%200%201.709.869%203.214%202.191%204.099-.807-.026-1.565-.248-2.23-.615v.061c0%202.388%201.698%204.377%203.951%204.83-.414.112-.849.171-1.297.171-.317%200-.625-.031-.927-.086.628%201.956%202.446%203.38%204.6%203.419-1.686%201.319-3.809%202.108-6.115%202.108-.398%200-.79-.024-1.175-.069%202.178%201.396%204.767%202.213%207.549%202.213%209.056%200%2014.011-7.506%2014.011-14.012l-.016-.637c.96-.694%201.795-1.56%202.455-2.549z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.a2a_s_google_plus {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%3E%3Crect%20fill%3D%22%23DC4A38%22%20width%3D%2232%22%20height%3D%2232%22%2F%3E%3Cg%20fill%3D%22%23fff%22%3E%3Cpath%20d%3D%22M16.964%2017.13l-.991-.771c-.301-.25-.715-.58-.715-1.187%200-.608.412-.993.771-1.353%201.154-.908%202.31-1.877%202.31-3.916%200-2.096-1.319-3.197-1.952-3.721h1.706l1.788-1.125h-5.421c-1.487%200-3.632.353-5.2%201.647-1.184%201.025-1.76%202.431-1.76%203.698%200%202.149%201.65%204.33%204.566%204.33.274%200%20.576-.027.879-.057-.137.331-.273.606-.273%201.075%200%20.854.439%201.378.826%201.873-1.238.085-3.553.222-5.256%201.271-1.624.965-2.117%202.371-2.117%203.362%200%202.041%201.924%203.943%205.914%203.943%204.73%200%207.236-2.619%207.236-5.211%200-1.901-1.101-2.84-2.311-3.858zm-3.605-3.171c-2.366%200-3.439-3.061-3.439-4.907%200-.719.137-1.461.605-2.04.44-.553%201.209-.91%201.928-.91%202.281%200%203.465%203.088%203.465%205.072%200%20.496-.055%201.378-.688%202.014-.441.442-1.182.771-1.871.771zm.03%2011.087c-2.943%200-4.843-1.407-4.843-3.364%200-1.959%201.761-2.621%202.366-2.841%201.154-.388%202.641-.44%202.889-.44.275%200%20.412%200%20.633.026%202.092%201.489%203%202.23%203%203.642%200%201.704-1.405%202.977-4.045%202.977z%22%2F%3E%3Cpolygon%20points%3D%2223.912%2C13.917%2023.912%2C11.16%2022.551%2C11.16%2022.551%2C13.917%2019.799%2C13.917%2019.799%2C15.293%2022.551%2C15.293%2022.551%2C18.066%2023.912%2C18.066%2023.912%2C15.293%2026.678%2C15.293%2026.678%2C13.917%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.a2a_s_blogger {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%3E%3Crect%20fill%3D%22%23FDA352%22%20width%3D%2232%22%20height%3D%2232%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M12.393%206.112h4.367c1.611.191%203.959%201.572%204.824%203.409.238.516.363.595.561%202.121.105.786.158%201.367.51%201.691.494.449%202.332.146%202.695.43l.277.218.166.344.059.277-.039%205.048c-.02%203.43-2.809%206.238-6.244%206.238h-7.174c-3.437%200-6.244-2.811-6.244-6.238v-7.29c-.003-3.434%202.806-6.248%206.242-6.248z%22%2F%3E%3Cpath%20fill%3D%22%23F8A154%22%20d%3D%22M12.471%2011.219h3.463c.66%200%201.195.535%201.195%201.189%200%20.653-.535%201.195-1.195%201.195h-3.463c-.66%200-1.195-.542-1.195-1.195-.001-.654.535-1.189%201.195-1.189z%22%2F%3E%3Cpath%20fill%3D%22%23F8A154%22%20d%3D%22M12.471%2018.369h7.037c.654%200%201.189.535%201.189%201.189%200%20.646-.535%201.188-1.189%201.188h-7.037c-.66%200-1.195-.541-1.195-1.188-.001-.654.535-1.189%201.195-1.189z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.a2a_s_wordpress {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%3E%3Cg%3E%3Crect%20fill%3D%22%23464646%22%20width%3D%2232%22%20height%3D%2232%22%2F%3E%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2214.75%22%2F%3E%3Cg%20fill%3D%22%23464646%22%3E%3Cpath%20d%3D%22M3.176%2015.999c0%205.077%202.949%209.463%207.227%2011.541l-6.116-16.759c-.712%201.594-1.111%203.36-1.111%205.218zM24.657%2015.354c0-1.586-.57-2.684-1.06-3.537-.648-1.058-1.26-1.95-1.26-3.008%200-1.179.895-2.276%202.154-2.276l.166.011c-2.279-2.092-5.32-3.368-8.657-3.368-4.48%200-8.422%202.299-10.715%205.78l.826.017c1.341%200%203.416-.164%203.416-.164.691-.041.773.975.084%201.057%200%200-.695.08-1.467.121l4.668%2013.891%202.808-8.417-1.998-5.476c-.69-.041-1.345-.12-1.345-.12-.691-.041-.61-1.099.08-1.058%200%200%202.117.164%203.379.164%201.341%200%203.418-.164%203.418-.164.691-.041.771.976.08%201.058%200%200-.694.079-1.467.12l4.635%2013.785%201.279-4.271c.553-1.774.976-3.049.976-4.145zM16.225%2017.12l-3.848%2011.181c1.148.34%202.364.522%203.623.522%201.492%200%202.925-.259%204.259-.728l-.092-.177-3.942-10.798zM27.252%209.848c.055.408.086.848.086%201.318%200%201.3-.242%202.764-.975%204.594l-3.916%2011.324c3.812-2.225%206.375-6.354%206.375-11.085%200-2.229-.568-4.325-1.57-6.151zM16%201.052c-8.243%200-14.948%206.705-14.948%2014.947%200%208.243%206.705%2014.949%2014.948%2014.949%208.242%200%2014.948-6.706%2014.948-14.949%200-8.242-6.706-14.947-14.948-14.947zm0%2029.212c-7.865%200-14.264-6.399-14.264-14.265%200-7.864%206.399-14.263%2014.264-14.263%207.863%200%2014.264%206.398%2014.264%2014.263s-6.401%2014.265-14.264%2014.265z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
