@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* for now since the add-ons have no RTL locales, force LTR direction in the preferences pane,
   this can be easily overriden in defaults.css by importing a stylesheet included in the RTL locale folder */
page { direction: ltr; }

.header,
caption {
	text-shadow: 0 1px 0 rgba(255,255,255,0.75);
	color: #484848;
}

/* for checkboxes displayed horizontally */
.smallindent {
	-moz-margin-end: 14px;
}
groupbox label.smallindent {
	-moz-margin-end: 14px !important;
}

/* nodes that aren't visible but should still occupy their space in the layout */
[invisible="true"] { visibility: hidden; }

/* make sure any disabled box, node, link, text, selector or whatever doesn't have any interaction */
[disabled="true"] {
	pointer-events: none;
	-moz-user-focus: ignore;
}

/* trick to get colorpickers to work in in-content preferences */
colorpicker * {
	-moz-user-select: none;
}

/* footer controls */

page[currentcategory="paneAbout"] #main-footer {
	visibility: collapse;
}

#main-footer {
	font-size: 1.25em;
	padding: 15px 40px;
	box-shadow: inset 0 1px 0 #c1c1c1;
}

#main-footer button .button-box {
	padding-top: 5px;
	padding-bottom: 5px;
	-moz-padding-start: 13px !important;
}

#main-footer button .dropmarker-icon {
	width: 16px;
	height: 16px;
	transform: rotate(180deg);
}

#main-footer textbox[notfound] {
	background-color: #f66;
	color: white;
}

.highlight {
	background-color: rgb(255,255,0);
	box-shadow: 0 0 1px 4px rgb(255,255,0);
	transition: background-color 150ms, box-shadow 150ms;
}

/* I hope this doesn't break anything... */
checkbox.highlight,
radio.highlight {
	-moz-appearance: none;
}
